update [getProjectTasks('10031')] set SignedByTR=null where SignedByTR=''
go
SELECT [ProjectCode]
      ,[Area]
      ,[Unit]
      ,[Module]
      ,[System]
      ,[SubSystem]
      ,[Group]
      ,[Item]
      ,[ElementType]
      ,[ElementCode]
      ,[Name]
      ,[Discipline]
      ,[Type]
      ,[Class]
      ,[Subcontractor]
      ,[Remarks]
      ,[DocType]
      ,[DocName]
      ,[DocClass]
      ,[Description]
      ,[Phase]
      ,[MasterTask]
      ,[FolderTask]
      ,[Priority]
      ,[SeqNo]
      ,[TaskId]
      ,[BarCode]
      ,[Dependences]
      ,[Responsible]
      ,[RespSubcon]
      ,[RespEmp]
      ,[TargetDate]
      ,[Location]
      ,[PrintDate]
      ,[SignedByTR]
      ,[SignedBySubcon]
      ,[SignedByClient]
      ,[ClosingUser]
      ,[ClosingDate]
      ,[ClosingRemarks]
      ,[DateCreated]
  FROM [TREICAJA].[dbo].[getProjectTasks('10031')]
  where Docname='10031-PACKAGE-INS-01'
  and SignedByTR is not null

